@font-face {
  font-family: "PressStart2P";
  src: url("../fonts/PressStart2P.ttf");
}

@font-face {
  font-family: "Digital-7";
  src: url("../fonts/digital-7.ttf");
}

body {
  background: #000;
  cursor: url('../img/crosshair.png') 16 16, auto;
}

/*                              Game menu style                             */
.game-menu {
/*  display: none;*/
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);

  width: 800px;
  height: 480px;

  background: url(../img/main-background.png) no-repeat;
}

.game-menu__title {
  position: fixed;
  top: 15%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);

  font-size: 70px;
  text-transform: uppercase;
  text-align: center;
}
/*                              End Game menu style                          */

/*                              Buttons style                               */
.button {
  position: fixed;
  left: 50%;
  top: 70%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);

  padding: 0;
  border: 0;
  outline: 0;

  font-family: "PressStart2P";
  font-size: 20px;
  text-transform: uppercase;

  background: transparent;
  color: #e20f0f;
  cursor: pointer;
}

.button-restart {
  display: none;
  top: 90%;
  z-index: 1001;
}

.button-next-level {
  display: none;
  top: 90%;
  z-index: 1001;
}

.button:hover {
  color: white;
}

.button:active {
  color: white;
}
/*                              End Buttons style                           */

/*                              Main game screen style                       */

.wrapper {
  display: none;
  position: fixed;
  left: 50%;
  top: 55%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);

  height: 750px;
  width: 900px;

  box-sizing: border-box;
}

.game-screen {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);

  box-sizing: border-box;
  width: 800px;
  height: 480px;
  overflow: hidden;

  background: url(../img/background-dark.png) no-repeat;
  background-size: cover;
}
/*                              End Main game screen style                   */

/*                              Sreen death style                          */
.game-screen--death {
  animation: 4s player-death linear;
}

@keyframes player-death {
  0% {
  box-shadow: inset 0 0 400px rgba(215, 35, 0, 0.5);
  }
  20% {
  box-shadow: inset 0 0 300px rgba(215, 35, 0, 0.5);
  }
  40% {
  box-shadow: inset 0 0 200px rgba(215, 35, 0, 0.5);
  }
  100% {
  box-shadow: inset 0 0 100px rgba(215, 35, 0, 0.5);
  }
}
/*                              End Sreen death style                        */

/*                              Alert messages style                         */
.message {
  color: #fff;
  position: absolute;
  left: 57%;
  top: 36%;

  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);

  z-index: 1;
}

.message--fire {
  width: 116px;
  height: 68px;
  background: url(../img/fire-right.png) no-repeat;
  left: 60%;
}

.message--dead,
.message--win {
  left: 50%;
  top: 30%;

  font-family: "PressStart2P";
  font-size: 30px;
  color: #fff;
}
/*                              End Alert messages style                     */

/*                              Game panels for scores style                 */
.white-line {
  position: absolute;
  left: 50px;
  top: 10%;
  z-index: 700;
  width: 800px;
  border-bottom: 2px solid #fff;
}

.game-panels {
  display: none;
}

.players-panel,
.time-panel,
.score-panel {
  padding: 10px;

  font-family: "PressStart2P";
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  color: #80d010;
}

.time-panel {
  position: absolute;
  left: 70%;
  top: 2px;
  z-index: 700;
}

.time-panel__gunman,
.time-panel__you {
  font-family: "Digital-7";
  font-size: 65px;
}

.time-panel__you  {
  margin-bottom: 5px;
}

.players-panel {
  position: absolute;
  left: 50%;
  top: 10%;
  box-sizing: border-box;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 700;
}

.players-panel__you,
.players-panel__gunman {
  padding: 10px;
  border: 2px solid #80d010;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.players-panel__you {
  margin-bottom: 10px;
}

.score-panel {
  text-align: center;
}

.score-panel__score {
  position: absolute;
  left: 25%;
  top: 85%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 700;

  box-sizing: border-box;
}

.score-panel__level {
  position: absolute;
  left: 70%;
  top: 85%;
  z-index: 700;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);

  box-sizing: border-box;
}
/*                              End Game panels for scores style             */

/*                              Game win screen style                       */
.win-screen {
  display: none;
   /* display: block;*/
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);

  box-sizing: border-box;
  width: 800px;
  height: 480px;

  background: url(../img/main-background.png) no-repeat;
}

.win-screen__title {
  position: fixed;
  top: 35%;
  left: 50%;

  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);

  font-size: 50px;
  line-height: 70px;
  text-transform: uppercase;
  text-align: center;
}
/*                              End Game win screen style                    */

/*                              Gunman style                                 */
.gunman {
  position: absolute;
  left: 800px;
  bottom: 85px;
  z-index: 900;
  width: 130px;
  height: 260px;
}

.gunman-level-1 {
  background: url(../img/gunman.png) 0 0;
  animation: gunman-level-1__walk 1s steps(3) infinite;
}

.gunman-level-1__standing {
  background-position: -405px 0;
}

.gunman-level-1__ready {
  background-position: -810px 0;
}

.gunman-level-1__shooting {
  animation: gunman-level-1__duel 0.5s steps(3);
  animation-iteration-count: 1;
  background-position: -945px 0;
  width: 135px;
  left: 340px;
}

.gunman-level-1__death {
  animation: gunman-level-1__death 1s steps(4);
  background-position: -1616px 0;
  width: 128px;
  left: 340px;
}

@keyframes gunman-level-1__walk {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -405px 0;
  }
}

@keyframes gunman-level-1__duel {
  from {
    background-position: -810px 0;
  }
  to {
    background-position: -1212px 0;
  }
}

@keyframes gunman-level-1__death {
  from {
    background-position: -1215px 0;
  }
  to {
    background-position: -1750px 0;
  }
}

.gunman-level-2 {
  height: 300px;
  width: 130px;
  background: url(../img/gunman.png) 0 -270px;
  animation: gunman-level-2__walk 1s steps(3) infinite;
}

.gunman-level-2__standing {
  background-position: 0 -270px;
}

.gunman-level-2__ready {
  /*background-position: -407px -270px;*/
  background-position: -405px -270px;
}

.gunman-level-2__shooting {
  width: 110px;
  left: 340px;
  animation: gunman-level-2__duel 0.5s steps(4);
  animation-iteration-count: 1;
  background-position: -520px -270px;
}

.gunman-level-2__death {
  width: 120px;
  left: 340px;
  animation: gunman-level-2__death 1s steps(2);
  background-position: -955px -270px;
}

@keyframes gunman-level-2__walk {
  from {
    background-position: 0 -270px;
  }
  to {
    background-position: -400px -270px;
  }
}

@keyframes gunman-level-2__duel {
  from {
    background-position: -400px -270px;
  }
  to {
    background-position: -840px -270px;
  }
}

@keyframes gunman-level-2__death {
  from {
    background-position: -835px -270px;
  }
  to {
    background-position: -1075px -270px;
  }
}

.gunman-level-3 {
  height: 320px;
  width: 110px;
  background: url(../img/gunman.png) 0 -578px;
  animation: gunman-level-3__walk 1s steps(3) infinite;
}

.gunman-level-3__standing {
  background-position: 0 -578px;
}

.gunman-level-3__ready {
  background-position: -342px -578px;
}

.gunman-level-3__shooting {
  animation: gunman-level-3__duel 0.5s steps(3);
  animation-iteration-count: 1;
  /*background-position: -455px -578px;*/
  background-position: -330px -578px;
  width: 120px;
  left: 340px;
}

.gunman-level-3__death {
  animation: gunman-level-3__death 1s steps(1);
  background-position: -945px -578px;
  width: 100px;
  left: 340px;
}

@keyframes gunman-level-3__walk {
  from {
    background-position: 0 -578px;
  }
  to {
    background-position: -330px -578px;
  }
}

@keyframes gunman-level-3__duel {
  from {
    background-position: -330px -578px;
  }
  to {
    background-position: -690px -578px;
  }
}

@keyframes gunman-level-3__death {
  from {
    background-position: -840px -578px;
  ;
  }
  to {
    background-position: -940px -578px;
  }
}

.gunman-level-4 {
  height: 260px;
  background: url(../img/gunman.png) 0 -910px;
  animation: gunman-level-4__walk 1s steps(3) infinite;
}

.gunman-level-4__standing {
  background-position: 0 -910px;
}

.gunman-level-4__ready {
  background-position: -400px -912px;
}

.gunman-level-4__shooting {
  animation: gunman-level-4__duel 1s step-start;
  animation-iteration-count: 1;
  background-position: -665px -910px;
  left: 340px;
}

.gunman-level-4__death {
  animation: gunman-level-4__death 0.5s steps(1);
  background-position: -1067px -910px;
  width: 130px;
  left: 340px;
}

@keyframes gunman-level-4__walk {
  from {
    background-position: 0 -910px;
  }
  to {
    background-position: -396px -910px;
  }
}

@keyframes gunman-level-4__duel {
  0% {
    background-position: -405px -910px;
  }
  33% {
    background-position: -535px -910px;
  }
  66% {
    background-position: -665px -910px;
  }
}

@keyframes gunman-level-4__death {
  from {
    background-position: -937px -910px;
  }
  to {
    background-position: -1067px -910px;
  }
}

.gunman-level-5 {
  height: 290px;
  width: 135px;
  background: url(../img/gunman.png) 0 -1170px;
  animation: gunman-level-5__walk 1s steps(3) infinite;
}

.gunman-level-5__standing {
  background-position: 0 -1170px;
}

.gunman-level-5__ready {
  background-position: -390px -1184px;
}

.gunman-level-5__shooting {
  animation: gunman-level-5__duel 1s step-start;
  animation-iteration-count: 1;
  width: 130px;
  background-position: -650px -1170px;
  left: 340px;
}

.gunman-level-5__death {
  animation: gunman-level-5__death 0.5s steps(1);
  background-position: -1168px -1170px;
  width: 100px;
  left: 340px;
}

@keyframes gunman-level-5__walk {
  from {
    background-position: 0 -1170px;
  }
  to {
    background-position: -396px -1170px;
  }
}

@keyframes gunman-level-5__duel {
  0% {
    background-position: -400px -1170px;
  }
  33% {
    background-position: -525px -1170px;
  }
  66% {
    background-position: -650px -1170px;
  }
}

@keyframes gunman-level-5__death {
  from {
    background-position: -1038px -1170px;
    width: 130px;
  }
  to {
    background-position: -1168px -1170px;
    width: 100px;
  }
}

.moving {
  left: 340px;
  transition: left 5s linear;
}

.standing {
  left: 340px;
  animation: none;
}
/*                              Gunman style                                 */


.game-screen {
  display: none;
  position: fixed;
  cursor: url('../img/crosshair.png') 16 16, crosshair;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  box-sizing: border-box;
  width: 800px;
  height: 480px;
  overflow: hidden;
  background: url(/img/bg.png) no-repeat;
  background-size: contain;
}
.game-screen--death {
  animation: 4s player-death linear;
}